@import "variables.scss";

// Then include the following
// @import "bootstrap/scss/bootstrap.scss";

// @import "bootstrap/scss/mixins/banner";
// @include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
//Transitions required for collapse/more dates. don't remove:
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

@import "components/iowa-bar";
@import "components/header";

// Using UIDS Buttons now, hopefully we can use UIDS throughout at some point
// Commenting out old buttons for now
// @import "components/buttons";

@import "components/footer";
@import "components/header-image";
@import "components/blockquote";
@import "components/breadcrumb";
@import "components/search";
@import "components/browse-jobs";

@import "layouts/job";
@import "components/column-list";

//Global Styles:

.bg-gray {
  background-color: rgb(243, 243, 243);
}

.bg-lightgray {
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: 0;
}

h1 {
  font-family: "Zilla Slab";
  font-weight: 600;
  font-size: clamp(2.3rem, calc(2.3662vw + 1.4127rem), 3.35rem);
  margin-bottom: 1.25rem;
}

h2 {
  line-height: 1.25;
  margin-top: 1.875rem;
  margin-bottom: 0.325rem;
  font-size: clamp(1.95rem, calc(0.7887vw + 1.6542rem), 2.3rem);
}

body {
  -moz-osx-font-smoothing: grayscale;
}

.content {
  min-height: 25vh;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
