/*-------------------------------------------
    Bootstrap Configuration
    variables are in node_modules/bootstrap/scss/_variables.scss
-------------------------------------------*/

// Color system
$gold: #ffcd00;
$highlight: $gold;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #151515;
$black: #000;
$white: #fff;

$gray: #63666a;
$light: $gray-100;
$dark: #000;

$theme-colors: (
);
$theme-colors: map-merge(("gold": $gold,
      "white": $white,
    ),
    $theme-colors);

$link-color: #00558c;
$brand-warning: $gold;

// Your variable overrides
$body-bg: #fff;
$body-color: #000;

$fa-font-path: "../fonts";

$primary: $gold;
$secondary: #111;

$enable-smooth-scroll: false;
$breadcrumb-divider-color: $primary;
$breadcrumb-item-active-color: #000;
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
);

$navbar-brand-padding-y: 0;
$navbar-padding-y: 0;
$navbar-dark-color: #fff;
$navbar-light-color: #000;
$nav-link-font-weight: 800;
$nav-link-font-size: 15px;
$navbar-nav-link-padding-x: 1.2rem;
$nav-link-padding-y: 1.35rem;
// Fonts
$enable-responsive-font-sizes: true;
$font-family-base: "Roboto", sans-serif;

$font-size-base: 1.1rem;

$headings-font-family: "Roboto", sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;

// Jumbotron
$jumbotron-padding: 6rem;
$jumbotron-color: #333;
$jumbotron-bg: #f6f9fc;

$list-group-bg: #222;
$list-group-border-color: #333;

$card-spacer-x: 1rem;
$card-spacer-y: 1rem;

$border-radius: 0;

$grid-gutter-width: 2rem;