h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: 0;
}

h1 {
  font-family: "Zilla Slab";
  font-weight: 600;
  font-size: clamp(2.3rem, calc(2.3662vw + 1.4127rem), 3.35rem);
  margin-bottom: 1.25rem;
}

h2 {
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.325rem;
  font-size: clamp(1.95rem, calc(0.7887vw + 1.6542rem), 2.3rem);
}

body {
  -moz-osx-font-smoothing: grayscale;
}
