.column-list {
    @include media-breakpoint-up(md) {
        column-count: 2;
        column-gap: 20px;
    }

    @include media-breakpoint-up(lg) {
        column-count: 3;
    }
}

.active_postings {
    font-weight: bold;
}