/*-------------------------------------------
    Media Queries
-------------------------------------------*/
.footer {
    font-size: $font-size-sm;
    background: black;
    &__summary {
        a {
            color: white;
            text-decoration: underline;
        }
    }

    &__bar-link {

        &:after {
            display: inline-block;
            padding-left: 5px;
            content: "|"
        }
    }

    &__logo {
        display: block;
        max-width: 300px;
    }

    &__heading {
        font-size: $font-size-base;
    }

    &__buttons .btn {
        font-size: $font-size-base * .8;
    }

    &__socialmedia {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            display: inline-block;
        }

        & li a {
            color: $white;
            display: block;

            &:hover,
            &:focus {
                color: $gold;
                text-decoration: underline;
            }
        }
    }

    &__md {
        max-width: 36px;
    }

    &__address {
        & a {
            color: $gold;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        & i {
            color: $gray-600;
        }
    }

    &__disclaimer a {
        color: $gray-100;
        text-decoration: underline;
    }

    &__copyrightcontainer {
        background-color: $gold;

        a {
            color: $gray-900;
        }
    }

    &__copyright {

        & p {
            line-height: 32px;
        }

        & a {
            text-decoration: underline;
        }
    }

}