.social-card {}

.social-card-footer {
    padding: 10px;
}

.social-card-sig {
    background: #000;
    backdrop-filter: blur(10px);
    padding: 5px;
    margin-top: -30px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 4px;
    color: white;
    font-family: $headings-font-family;
    font-size: 14px;
}

.social-card-subtitle {
    color: #ccc;
    font-size: 14px;

    font-family: $headings-font-family;

    a {
        color: lighten($gold, 30);
    }
}

.social-card-title {
    text-align: left;
    margin-top: 10px;
}

.social-card-body {
    padding: 10px;
}
